DB_HOST=your_railway_mysql_host
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=uniguajira_asistencia
JWT_SECRET=cambia_esto_por_una_clave_muy_segura
PORT=3000
CAMPUS_LAT=11.5448
CAMPUS_LON=-72.8936
CAMPUS_RADIO=400
